<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> For over 20 years, I built a strong reputation as a reliable, experienced contractor and my interest in landscape design led to me obtaining a C10 landscaping license and collaborations with several real estate property management companies in Las Vegas. </font></p>
                <p><font size="4px">  </font></p>
                <p><font size="4px"> These days, my interests are now with the upkeep, repair, and maintenance of communities.  I enjoy using my 20+ years of repair and landscaping experience to help improve and remodel your homes. I have a passion for working with my hands and a dedicated eye for detail. </font></p>
            
             <br/>
        </div>
    </div>
</section>






